.header {
    color: #ffffff;
    background-color: #064663;
    padding: 10px 20px;
    width: 100%;
    box-shadow: -3px -3px 2px rgba(41, 41, 41, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.new-note-area {
    margin: auto 20px;
}

.note-container {
    padding: 10px 20px 20px 20px;
    margin: 20px;
    border-radius: 10px;
    max-width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
}

footer {
    position: absolute;
    color: #4B5D67;
    bottom: 10px;
    height: 2.5rem;
    text-align: center;
    width: 100%;
}

/* *******Media Queries medium devices***** */
@media screen and (max-width: 1024px) {
    .note {
        min-height: 130px;
        height: fit-content;
        margin-top: 40px;
    }


}


/* *******Media Queries small devices***** */
@media screen and (max-width: 600px) {
    .note {
        min-height: 120px;
        min-width: 300px;
        height: fit-content;
        display: block;
        margin: 40px auto;
    }

    form {
        width: 90vw;
    }
}